{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="content">
    <div class="top-page">
        
    </div>
    <div class="separator"></div>
    <div class="reste de la page a faire">
    </div>
</div>
{% endblock %}
