.footer{
    height: 200px;
    color: white;
    background-color: rgb(53, 53, 53);
    font-family: "Arial Rounded MT Bold";
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;;
    font-size: small;
}

.item-footer{
    display: flex;
    flex-direction: row;
}
