html, body{
    height: 100%;
}

table{
    width: 100%;
}

.content{
    width: 90%;
    margin-left: 5%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 40px;
}

thead{
    font-size: larger;
    color:#8ba612;
}

.header{
    background-color: #8ba612;
}

td{
    padding-top: 15px;
}

.formulaire{
    justify-content: center;
    height: max-content;
    width: 80%;
    margin-left: 10%;
    margin-top: 30px;
    margin-bottom: 300px;
    padding-bottom: 5%;
    padding-left: 7.5%;
    padding-right: 7.5%;
    padding-top: 5% ;
    border: solid;
    border-radius: 1em;
    border-width: 1px;
}

.top-bien{
    display: flex;
    height: max-content;
    width: 50%;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    align-items: center;
}

.top{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: solid;
    border-radius: 1em;
    border-width: 1px;
}

.description{
    width: 90%;
    margin-left: 5%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.sumbit-form, .btn-safer{
    text-align: center;
    color: white;
    text-decoration: none;
    background-color: #8ba612;
}

.sumbit-form{
    margin-top: 20px;
}

.sumbit-form:hover, .log-out:hover{
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
    background-color: #768d10;
}

.lst-link{
    color:black;
}

.separator{
    margin-top: 20px;
    border-bottom: solid;
    width: 100%;
    border-width: 2px;
    border-color: lightslategray;
}

.mise-en-forme{
    display: flex;
    padding-top: 30px;
    height: 100%;
    width: 76%;
    margin-left: 12%;
    box-shadow: 2px 1px 32px 8px rgba(0,0,0,0.15);
    background-color: white;
}

.gestion{
    width: 100%;
    background-color: #768d10;
}

.gest-log{
    margin-top: 30px;
    margin-bottom: 30px;
}

.annonce{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.annonce:hover{
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
}

.item-annonce, .item-annonce-img{
    margin-left: 10px;
    margin-right: 40px;
}

.item-annonce{
    width: 65%;
}

.item-annonce-img{
    padding-right: 20px;
    border-right: solid;
    height: 30%;
    border-width: 2px;
    border-color: lightslategray;
}

.item-annonce-favoris{
    width: 5%;
    justify-self: end;
}

.item-annonce-favoris:hover{
    color: darkgoldenrod;
}

.card{
    margin-top: 10px;
}   

.nav-categorie{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.nav-link{

    color: #8ba612;
}

.nav-link:hover{
    color: #768d10;
}