{% extends 'base.html.twig' %}

{% block title %}Hello BienController!{% endblock %}

{% block body %}
<div class="content">
    <table>
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Email</th>
                <th scope="col">Descrition</th>
                <th scope="col">Date</th>
            </tr>
        </thead>
        <tbody>
            {% for contact in lstContact %}
            <tr>
                <td>{{ contact.id }}</td>
                <td>{{ contact.mail }}</td>
                <td>{{ contact.description }}</td>
                <td>{{ contact.date|date('Y-m-d') }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="separator"></div>
    <a href="/admin/gestion" class="form-control sumbit-form">Retour</a>
</div>
{% endblock %}