{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('assets/css/footer.css') }}">
{% endblock %}
{% block body%}
    <div class="footer">
        <div class="item-footer">
            <div>
                <h4>Coordonnées :</h4>
                <p>Fédération Nationale des Safer</p>
                <p>91 rue du Faubourg Saint-Honoré</p>
                <p>75008 PARIS</p>
            </div>
            <div>
                <h4>Téléphone :</h4>
                <p>(+33)1 44 69 86 00</p>
            </div>
        </div>
        <div class="item-footer">
            <div>
                <h4>Plan du site:</h4>
                <p>...</p>
            </div>
        </div>
    </div>
{% endblock %}