{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('assets/css/footer.css') }}">
{% endblock %}
{% block body%}
    <div class="footer">Coordonnées : Fédération Nationale des Safer <br>
91 rue du Faubourg Saint-Honoré<br>
75008 PARIS<br>
Téléphone : (+33)1 44 69 86 00<br><br>

Immatriculation de la FNSafer : SIRET 309 332 310 000 31 – APE 9411 Z</div>

<div class="right-text">Plan du site</div>
{% endblock %}