{% extends 'base.html.twig' %}

{% block title %}Hello GestionController!{% endblock %}

{% block body %}
    <div class="content">
        <div class="gest-log">
            {% if app.user %}
                <h2>
                    Vous êtes connecté en tant que : <b>{{ app.user.login }}</b> <a class="btn btn-safer" href="{{ path('app_logout') }}" role="button">Se déconnecté</a>
                </h2>
             {% endif %}
        </div>
        <div>
            <div>

            </div>
            <div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Gestion des Biens</h5>
                        <p class="card-text">Ajouter, modifier et supprimer des biens</p>
                        <a href="/admin/bien" class="btn btn-safer">Liste Bien</a>
                    </div>
                </div>
            </div>
             <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Gestion des Catégories</h5>
                        <p class="card-text">Ajouter, modifier et supprimer des catégories</p>
                        <a href="/admin/categorie" class="btn btn-safer">Liste Categorie</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
             <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Gestion des Admins</h5>
                        <p class="card-text">Ajouter, modifier et supprimer des admins</p>
                        <a href="/admin/admin" class="btn btn-safer">Liste Admin</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Gestion des Messages</h5>
                        <p class="card-text">Voir la liste des massages envoyé aux administrateurs</p>
                        <a href="/admin/contact" class="btn btn-safer">Liste Message</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
